<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


    <import resource="applicationContext-db.xml"/>
    <import resource="applicationContext-answer.xml"/>
    <import resource="applicationContext-question.xml"/>
    <import resource="applicationContext-choice.xml"/>
    <import resource="applicationContext-authorization.xml"/>
    <import resource="applicationContext-patient-login.xml"/>
    <import resource="applicationContext-doctor-login.xml"/>
    <import resource="applicationContext-doctor-info.xml"/>
    <import resource="applicationContext-patient-info.xml"/>
    <import resource="applicationContext-doctor-manage.xml"/>
    <import resource="applicationContext-patient-manage.xml"/>
    <import resource="applicationContext-plan-manage.xml"/>
    <import resource="applicationContext-patientType-manage.xml"/>
    <import resource="applicationContext-surveyType-manage.xml"/>
    <import resource="applicationContext-survey-manage.xml"/>
    <import resource="applicationContext-forfeit-manage.xml"/>
    <import resource="applicationContext-retrieve-manage.xml"/>
    <import resource="applicationContext-delivery-manage.xml"/>
    <import resource="applicationContext-delivery-search.xml"/>
    <import resource="applicationContext-quartz.xml"/>
    <import resource="applicationContext-survey.xml"/>
    <import resource="applicationContext-delivery.xml"/>
    <import resource="applicationContext-forfeit.xml"/>
    <import resource="applicationContext-download.xml"/>
    <import resource="applicationContext-upload.xml"/>
    <import resource="applicationContext-hospital.xml"/>
    <import resource="applicationContext-city.xml"/>
    <import resource="applicationContext-province.xml"/>
    <import resource="applicationContext-hospital-manage.xml"/>

</beans>