<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="doctorDao" class="com.hospital.dao.impl.DoctorDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="doctorService" class="com.hospital.service.impl.DoctorServiceImpl">
        <property name="doctorDao">
            <ref bean="doctorDao"/>
        </property>
    </bean>

    <bean id="patientRegisterAction" class="com.hospital.action.patientRegisterAction" scope="prototype">
        <property name="patientService">
            <ref bean="patientService"/>
        </property>
        <property name="doctorService">
            <ref bean="doctorService"/>
        </property>
        <property name="planService">
            <ref bean="planService"/>
        </property>
        <property name="deliveryService">
            <ref bean="deliveryService"/>
        </property>
    </bean>
</beans>