<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

	<!-- log4j2设置 -->
	<context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>classpath:log4j2.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>6000</param-value>
  </context-param>

<!-- 整合Spring -->
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>

	<!-- 配置Spring的OpenSessionInViewFilter,以解决懒加载异常 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class> org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	
<!-- 医生权限的过滤 -->
 	 <filter>
		  <display-name>DoctorFilter</display-name>
		  <filter-name>DoctorFilter</filter-name>
		  <filter-class>com.hospital.web.filter.DoctorFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>DoctorFilter</filter-name>
	  <url-pattern>/doctor/*</url-pattern>
	</filter-mapping>
	
	<!-- 病人权限的过滤 -->
 	 <filter>
		  <display-name>PatientFilter</display-name>
		  <filter-name>PatientFilter</filter-name>
		  <filter-class>com.hospital.web.filter.PatientFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>PatientFilter</filter-name>
	  <url-pattern>/patient/*</url-pattern>
	</filter-mapping>
	
	
	  <!-- 错误404页面 -->
		  <error-page>  
		    <error-code>404</error-code>  
		    <location>/error/400.jsp</location>  
		</error-page>  
		   <!-- 错误500页面 -->
		<error-page>  
		    <error-code>500</error-code>  
		    <location>/error/500.jsp</location>  
		</error-page>  
      
  
  
 <!-- 配置struts2的过滤器 -->
  <filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
